.footer{
	width: 1511px;
	height: 341px;
	margin: 0 auto;
}
.footer__up{
	width: 1511px;
	height: 251px;
	margin: 0 auto;
	background-color: #353C65;
	padding: 0 170px;
	display: flex;
	justify-content: space-between;
}
.footer__bot{
	width: 1511px;
	height: 91px;
	margin: 0 auto;
	background-color: #2C3154;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__up-item1{
	width: 370px;
	height: 71px;
	margin: 71px auto 0;
}
.footer__up-item2{
	width: 370px;
	height: 108px;
	margin: 71px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.footer__up-item3{
	width: 370px;
	height: 112px;
	margin: 71px auto 0;
}
.footer__up-item2-social{
	margin-top: 25px;
	width: 170px;
	display: flex;
	justify-content: space-between;
}
.copyright{
	width: 370px;
	height: 42px;
}
.copyright-span{
	color:white;
}