.work{
	width: 1512px;
	height: 678px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.work__item-img1{
	width: 378px;
	height: 340px;


}
.work__item-img1:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img1:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img2{
	width: 378px;
	height: 340px;

}
.work__item-img2:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img2:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img3{
	width: 378px;
	height: 340px;
	padding: 1px 1px 1px 2px;
}
.work__item-img3:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img3:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img4{
	width: 378px;
	height: 340px;
}
.work__item-img4:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img4:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img5{
	width: 378px;
	height: 340px;
}
.work__item-img5:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img5:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img6{
	width: 378px;
	height: 340px;
}
.work__item-img6:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img6:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
.work__item-img7{
	width: 378px;
	height: 340px;
}
.work__item-img7:hover{
	content: url(/img/Group6.png);
	width: 378px;
	height: 340px;
	opacity: 0.8;
}
.work__item-img7:active{
	content: url(/img/Group7.png);
	width: 378px;
	height: 340px;
	opacity: 1;
}
figure.effect-honey {
	width: 378px;
	height: 340px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
figure.effect-honey:hover{
	background-color: #ff4343;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.2;
}

figure.effect-honey:hover h2 {
	position: absolute;
	top: 120px;
	left: 100px;
	width: 100%;
	text-align: left;
}
figure.effect-honey:hover p {
	position: absolute;
	top: 170px;
	left: 100px;
	width: 100%;
	text-align: left;
}
