.work{
	max-width: 1512px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2px;
	position: relative;
}

figure.effect-honey {
	width: 375px;
	height: 340px;
	position: relative;
	overflow: hidden;
	margin: 0 0 0 0;
	@media screen and (min-width: 1023px) and (max-width: 1508px){
		width: 240px;
		height: 230px;
	}
	@media screen and (min-width: 500px) and (max-width: 1022px){
		width: 200px;
		height: 200px;
	}
	@media screen and (min-width: 10px) and (max-width: 499px){
		width: 158px;
		height: 144px;
	}

}
figure img{
	width: 100%;
	height: 100%;
}
figure.effect-honey:hover{
	background-color: #ff4343;
	opacity: 0.8;
	overflow: hidden;
}
figure.effect-honey:active{
	background-color: #ff4343;
	opacity: 1;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.2;
}

figure.effect-honey:hover h2 {
	position: absolute;
	top: 120px;
	left: 100px;
	width: 100%;
	text-align: left;
}
figure.effect-honey:hover p {
	position: absolute;
	top: 170px;
	left: 100px;
	width: 100%;
	text-align: left;
}
