.work{
	max-width: 1512px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

figure.effect-honey {
	max-width: 378px;
	min-width: 320px;
	height: 340px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
figure.effect-honey:hover{
	background-color: #ff4343;
	opacity: 0.8;
}
figure.effect-honey:active{
	background-color: #ff4343;
	opacity: 1;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.2;
}

figure.effect-honey:hover h2 {
	position: absolute;
	top: 120px;
	left: 100px;
	width: 100%;
	text-align: left;
}
figure.effect-honey:hover p {
	position: absolute;
	top: 170px;
	left: 100px;
	width: 100%;
	text-align: left;
}
