.wrappersite{
	width: 100%;
	height: auto;
}
.header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-image: url(/img/background-header.png);
	box-shadow: 0 rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	position: relative;
	@media screen and (min-width: 320px) and (max-width: 480px){
		max-height: 635px;
	}
	@media screen and (min-width: 900px) and (max-width: 1600px){
		background-size: 100% 100%;
	}

}
.header__nav {
	max-width: 1170px;
	margin: 0 auto;
	border-bottom: 1px solid #BABBC5;
	display: flex;
	justify-content: space-between;
}
// --------------------------------------------------------------------------------------------
.menu {
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align:center;
	border-radius: 100%;
	right:25px;
	top:25px;
}
.menu__ul{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.menu-bg {
	@extend .menu;
	pointer-events: none;
	transition: .3s; 
	right:50px;
	top:50px;
	position: fixed;
	
}
.menu-burger {
	@media screen and (min-width: 320px) and (max-width: 900px){
		display: block;
		
	}
	display: none;
	@extend .menu;
	color: white;
	padding-top: 11px;
	-webkit-user-select: none;
	cursor: pointer;
	transition: .4s;
	transform-origin: center;
	z-index: 2;
	
}
.menu-items{
	position:absolute;
	font-weight: bold;
	font-size: 40px;
	color: white;
	width: 100%;
	text-align: center;
	opacity:0;
	transition: .4s;
	margin-top:100px;
	transform: translateY(-200%);
	pointer-events:none;
	ul{
		list-style-type: none;
	}
	div {
		transition: 1s;
		opacity: 0;
		margin-top: 0px;
	}
	&.fs {
		transform: translateY(0);
		pointer-events:auto;
		opacity: 1;
		margin: 0 auto;
		background-image: url(/img/background-header.png);
		background-size: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		li{
		opacity: 1;
		margin-top: 10px;
		}
	}
}
// --------------------------------------------------------------------------------------------------
.header__nav-menu {
	width: 670px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	@media (max-width: 900px) {
		display: none;
	}
}
.menu__item{
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	&:hover{
		border-bottom: 3px solid #BABBC5;
	}
	&:active{
		border-bottom: 3px solid red;
		color: red;
	}
}
.header__nav-menu-li{
	width: 134px;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}
.header__nav-menu-li:hover{
	width: 134px;
	border-bottom: 3px solid #BABBC5;
	&:active{
		border-color: red;
	}
	& a:active{
		color: red;
	}
}
.header__nav-menu a{
	display: block;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	color: white;
}
.nav__logo{
	width: 192px;
	height: 100px;
	z-index: 2;
	padding-left: 20px;
}
.nav__logo-burger{
	width: 192px;
	height: 100px;
	z-index: 2;
	padding-left: 20px;
	float: left;
}

.header__content{
	max-width: 1170px;
	margin: 100px auto;
	min-height: 350px;
	@media screen and (min-width: 320px) and (max-width: 767px){
		margin: 0 auto;
	}
}
.header__content-h{
	padding: 0 100px;
	@media screen and (min-width: 320px) and (max-width: 767px){
		padding: 0 20px;
	}
}
.header__content-p{
	padding: 0 100px;
	@media screen and (min-width: 320px) and (max-width: 767px){
		padding: 0 20px;
	}
}
.header__content-btn{
	display: block;
	margin: 80px auto 0;
	width: 370px;
	height: 80px;
	background-color: #FF4343;
	line-height: 80px;
	vertical-align: middle;
	text-align: center;
	
	@media screen and (min-width: 320px) and (max-width: 767px){
		width: 280px;
	}
}
.header__content-btn:hover{
	background-color:#E71414;
	animation: bounce 1s;
}
.header__content-btn:active{
	box-shadow: 4px 4px 30px #FF4343;
}
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
	40%, 43% {
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
	}
	70% {
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
	}
	90% {
	-webkit-transform: translate3d(0,-4px,0);
	transform: translate3d(0,-4px,0);
	}
	}
	
	@keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
	40%, 43% {
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
	}
	70% {
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
	}
	90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
	}
	} 
